h1 {
    text-align: center 60px;
    padding: 80px;
    color: blue;
    font-size: 82px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    text-align: justify;
    color: black;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
l
}

h1.heading {
    text-align: center 60px;
    padding: 80px;
    color: blue;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center 60px;
    padding: 60px;
    color: blue;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    text-align: center 60px;
    padding: 60px;
    color: blue;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    
}
p.Myself {
    text-align: justify;
    color: black;
}