h1 {
    text-align: center 60px;
    padding: 80px;
    color: blue;
    font-size: 82px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    text-align: justify;
    color: red;
    font-size: 52px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(https://assets.nick.com/uri/mgid:arc:imageassetref:ws.kids.com:94fb9b46-8a69-4569-9a3f-893dea5e491b?quality=0.7&gen=ntrn&format=webp&crop=true&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1.heading {
    text-align: center 60px;
    padding: 80px;
    color: blue;
    font-size: 72px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center 60px;
    padding: 60px;
    color: blue;
    font-size: 82px;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    text-align: center 60px;
    padding: 60px;
    color: blue;
    font-size: 82px;
    font-family: 'Times New Roman', Times, serif;
}

p.Myself {
    text-align: justify;
}